.container {
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-heading {
    font-family: "Joy", sans-serif;
    font-weight: 400;
    font-size: 135px;
    color: #FFB733;
    text-transform: uppercase;
}

.job-title {
    font-family: "Start Story", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #424140;
    text-transform: uppercase;
    text-align: center;
}

.graph-paper {
    position: absolute;
    width: 900px;
    opacity: 0.15;
    z-index: 0;
    border-radius: 30%;
    pointer-events: none;
}