@font-face {
    font-family: "Blackbold";
    src: url("./assets/fonts/Blackbold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Joy";
    src: url("./assets/fonts/Joy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Start Story";
    src: url("./assets/fonts/start-story.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: calc(100dvh - 40px);

    margin: 20px 65px;

    box-sizing: border-box;

    border: 5px solid #e0e0e0;

    position: -webkit-sticky;
}

