@font-face {
    font-family: "Blackbold";
    src: url("./assets/fonts/Blackbold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Joy";
    src: url("./assets/fonts/Joy.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Start Story";
    src: url("./assets/fonts/start-story.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OMGSANS";
    src: url("./assets/fonts/OMGSANS.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Chat Favour";
    src: url("./assets/fonts/Chat Favour.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Idealy";
    src: url("./assets/fonts/Idealy.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hope Take";
    src: url("./assets/fonts/Hope Take.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cfaira";
    src: url("./assets/fonts/Cfaira.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Notepen";
    src: url("./assets/fonts/Notepen.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jackwrite";
    src: url("./assets/fonts/Jackwrite.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    box-sizing: border-box;
}

#root {
    position: relative;
    min-height: calc(100dvh - 40px);
    margin: 20px 65px;
    box-sizing: border-box;
    border: 15px solid #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 768px) {
    #root {
        min-height: calc(100dvh - 20px);
        margin: 10px;
        border-width: 8px;
        border-radius: 15px;
    }
}